@import "~bootstrap/scss/bootstrap";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.jumbo {
    height: 40vh;
    background-image: url(../img/jumbotron.jpg);
}

.jumbo-2 {
    height: 20vh;
}

footer {
    height: 20vh;
    background-image: url(../img/footer-bg.jpg);
}

ul {
    list-style: none;
}

li {
    font-size: 12px;
    color: grey;
}